body{
    background: #FDFFFC;
    font-size: 1.15em;
    text-align: justify;
    font-family: Arial, sans-serif;
}

#value{
    text-align: center;
}

#disclaimer{
    color: white;
    background: rgb(224, 67, 67);
}